<!DOCTYPE html>
<html lang="en">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<head>
<title>Big Word</title>
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|Droid+Sans:400,700|Droid+Serif:400,700|Playfair+Display+SC' rel='stylesheet' type='text/css'>

<style type="text/css">
    body {font-family:'Droid Serif', serif;text-shadow:1px 1px 2px rgba(0,0,0,0.2);}
    h1 {font-family:'Alfa Slab One', serif;font-weight:200;font-size:60px;line-height:1;margin:20px 0}
    h1 sup {top:.1em;color:#ccc;font-size:70px;font-weight:normal;}
    p.lead {font-family:'Playfair Display SC', cursive;font-size:25px}
    p.lead:first-child {margin:30px 0 0}
    h4 {font-family:'Playfair Display SC', serif;margin:30px 0 10px}
    h6 {font-size:20px;line-height:1.5}
    .hide {display:none}
    li {padding:7px 0;color:#888}
    .container-fluid {max-width:640px;margin:0 auto 200px}
    .total span {color:darkorange;}
    .words {margin:0 0 25px}
    a {color:#333}
    a:hover {color:#444}
    .hilite {padding:1px 5px;background:#f1f1f1;color:#222;outline:1px solid #eee;}
    .hilite,
    table {box-shadow:1px 3px 4px 0 rgba(0,0,0,0.3)}
    table {background:#fff}
    .table td {line-height:30px;text-align:center}
    table td:first-child {font-weight:bold;font-size:23px;color:#333;font-family:'Playfair Display SC', cursive;}
    table td:first-child sup {color:#999;top:0;font-size:23px;}
    .w1 {font-size:36px;}
    .w2 {font-size:24px;color:#555;}
    .w3 {font-size:17px;color:#777;}
    .w4 {font-size:11px;color:#999;}
    .loading {width:200px;margin:15% auto 0;text-align:center}
    .footer {margin:30px 0 0;}
</style>

</head>
<body>
<div class="container-fluid">
    <div id="placeholder">
        <div class="loading">
            <p>Loading...</p>
            <div class="progress progress-info progress-striped active">
              <div class="bar"></div>
            </div>
        </div>
    </div>
    <p class="footer muted"></p>
</div>
<script type="text/template" id="template">
    <p class="lead total">
        {{if date.pretty}}
            On <span>${date.pretty}</span> the Big Word was...
        {{else}}
            The Big Word right now is...
        {{/if}}
    </p>
    <h1><sup>&ldquo;</sup>${word}<sup>&rdquo;</sup></h1>
    <h6 class="total">In <span>${headlineCount}</span> news headlines, out of <span>${total}</span> words,
        the word <span>${word}</span> appears <span>${count}</span> times.</h6>
    <h4>In the News</h4>
    <ul class="headlines">
        {{each(i, h) headlines}}
            <li{{if i > 4}} class="hide"{{/if}}><a href="${h.link}">${h.title}</a></li>
        {{/each}}
    </ul>
    <a href="" class="more more-headlines">More</a>
    <h4>Popular Words by Weight</h4>
    <p class="words">
        {{each(i, w) words}}
            <a href="http://www.google.com/search?tbm=nws&q=${w[0]}" class="${w[2]}">${w[0]}</a>
        {{/each}}
    </p>
    {{if svgSupported}}
        <h4>Popular Words by Count</h4>
        <div id="chart0"></div>
    {{/if}}
    <h4>Previous Words</h4>
    <table class="table table-bordered table-hover table-striped table-previous-words">
        {{each(k, h) history}}
            <tr>
                <td><sup>&ldquo;</sup><a href="#" data-sort="${k}">${h.word}</a><sup>&rdquo;</sup></td>
                <td><a href="#" data-sort="${k}">${h.date.pretty}</a></td>
            </tr>
        {{/each}}
    </table>
    <h4>Sources</h4>
    <p>
        {{each(i, f) feedNames}}
            ${f}{{if i !== feedNames.length - 1}}, {{/if}}
        {{/each}}
    </p>
    <h4>Excluded Words</h4>
    <p>
        {{each(i, v) exclude}}
            ${v}{{if i !== exclude.length - 1}}, {{/if}}
        {{/each}}
    </p>
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/1.1.1/lodash.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
<script type='text/javascript' src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

(function () {
    var data = {},
        exclude = ['a', 'after', 'an', 'and', 'are', 'as', 'at', 'be', 'before', 'by', 'but', 'day',
                   'for', 'from', 'he', 'her', 'his', 'in', 'im', 'is', 'it', 'its', 'new', 'news', 'not', 'of',
                   'on', 'or', 'over', 'says', 'she', 'the', 'this', 'to', 'too', 'us', 'video', 'was', 'who', 'with'],
        headlineCount = 0,
        headlines = [],
        feedNames = [],
        master = [],
        words = [],
        counts = [],
        numRequests = 0,
        i,
        prev,
        util = {
            gapi: function (url, fnk, num, key) {
                if (url == null) {
                    return false;
                }
                var gurl = "http://ajax.googleapis.com/ajax/services/feed/load?v=1.0&callback=?&q=" + encodeURIComponent(url);
                if (num != null) {
                    gurl += "&num=" + num;
                }
                if (key != null) {
                    gurl += "&key=" + key;
                }
                $.getJSON(gurl, function (data) {
                    if (typeof fnk == 'function') {
                        try {
                            fnk.call(this, data.responseData.feed);
                        } catch (e) {
                            console.log(gurl, e)
                        }
                    } else {
                        return false;
                    }
                    numRequests += 1;
                });
            },
            aMax: function (array) {
                return Math.max.apply(Math, array);
            },
            aMin: function (array) {
                return Math.min.apply(Math, array);
            },
            firebase: {
                name: 'https://nblenke.firebaseio.com/bigword',
                set: function (data) {
                    var fbRoot = new Firebase(util.firebase.name),
                        fbWords = fbRoot.child('words'),
                        fbView = fbWords.limit(100),
                        fbWord = fbWords.child(data.date.sort);
                    changedCallback = function (a, b) {
                        console.log('changedCallback', a, b)
                    };
                    fbView.on('child_added', function (a, b) {
                        console.log('child_added', a, b)
                    });
                    fbView.on('child_moved', changedCallback);
                    fbView.on('child_changed', changedCallback);
                    fbWord.setWithPriority(data, data.date.sort);
                    console.log('firebase data sent');
                },
                get: function (callback) {
                    var fbRoot = new Firebase(util.firebase.name);
                    fbRoot.once('value', function (data) {
                        console.log('firebase data recieved');
                        callback(data.val().words);
                    });
                }
            },
            hilite: function (word, el) {
                var rgxp = new RegExp(word, 'gi'),
                    repl = '<span class="hilite">' + word + '</span>';
                $(el).each(function () {
                    $(this).html($(this).html().replace(rgxp, repl));
                });
            },
            arrShuffle: function (o) {
                for(var j, x, i = o.length; i; j = parseInt(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
                return o;
            },
            sortDate: function (date) {
                // 20130425T16
                return date.toJSON().replace(/\.|-/g, '').split(':')[0];
            },
            commafy: function(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },
            sortObjByKey: function (map, options) {
                var keys = _.sortBy(_.keys(map), function(a) { return a; }),
                    newmap = {};
                if (options.reverse) {
                    keys.reverse();
                }
                if (options.shift) {
                    keys.shift();
                }
                if (options.pop) {
                    keys.pop();
                }
                _.each(keys, function(k) {
                    newmap[k] = map[k];
                });
                return newmap;
            },
            svgSupported: function () {
                return (document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image", "1.1"))
            }
        },
        build = function (arr) {
            _.each(arr, function (feed) {
                util.gapi(feed.url, function (response) {
                    var arr = [];
                    _.each(response.entries, function (item) {
                        arr.push({
                            title: item.title,
                            link: item.link
                        });
                    });
                    process(arr, feed.name);
                }, 100);
            });
        },
        process = function (arrHeadlines, feedName) {
            var data = {},
                date = new Date(),
                wordArray = [],
                wordsExcluded = [],
                wordsIncluded = [];

            feedNames.push(feedName);
            console.log('fetching feed ' + numRequests, feedName);

            headlineCount += arrHeadlines.length;

            _.each(arrHeadlines, function (headline) {
                headlines.push(headline);
            });

            $('.progress .bar').css('width', numRequests + '0%');

            if (numRequests === (feeds.length - 1)) {
                console.log('building');
                data.headlines = [];
                data.words = [];
                data.date = {
                    sort: util.sortDate(date),
                    json: date.toJSON(),
                    string: date.toString()
                }
                _.each(headlines, function (headline) {
                    var clean = headline.title.replace(/(\?|\!|\&|\...|\-|\:|,|\')/g, ''),
                        // strip = headline.title.replace(/[\n\r]/g, '').replace(/\d/g,'').replace(/[^a-zA-Z0-9\s]/g,''),
                        pushArr = clean.split(' ');
                    //console.log(clean)
                    wordArray.push(pushArr)
                });
                _.each(_.flatten(wordArray), function (word) {
                    if (word.length > 1 && _.indexOf(exclude, word.toLowerCase()) === -1) {
                        wordsIncluded.push(word)
                    } else {
                        wordsExcluded.push(word)
                    }
                });
                delete wordArray;
                delete wordsExcluded;
                //console.log(wordsIncluded)
                master = wordsIncluded;
                arr = master;
                arr.sort();
                _.each(arr, function (word, i) {
                    if (arr[i] !== prev) {
                        words.push(arr[i]);
                        counts.push(1);
                    } else {
                        counts[counts.length-1]++;
                    }
                    prev = arr[i];
                });
                _.each(_.zip(words, counts), function (item) {
                    if(item[1] === util.aMax(counts) && item[1] > 1) {
                        data.count = item[1];
                        data.word = item[0];
                    }
                });
                data.headlineCount = headlineCount;
                data.total = master.length;
                data.feedNames = feedNames;
                _.each(headlines, function (h) {
                    if (h.title.toLowerCase().search(' ' + data.word.toLowerCase() + ' ') !== -1) {
                        data.headlines.push(h);
                    }
                });
                _.each(util.arrShuffle(_.zip(words, counts)), function (item) {
                    var weight = 'w4',
                        num = item[1];
                    if (num > 5) {
                        weight = 'w3';
                    }
                    if (num > 10) {
                        weight = 'w2';
                    }
                    if (num > 15) {
                        weight = 'w1';
                    }
                    if (num > 2) {
                        item.push(weight);
                        data.words.push(item);
                    }
                });
                util.firebase.get(function (response) {
                    var wordStored = false,
                        dateStored = !_.isUndefined(response[util.sortDate(new Date())]),
                        arrMatch = _.filter(response, function (hitem) { return hitem.word.toLowerCase() === data.word.toLowerCase()});
                    if (arrMatch.length) {
                        wordStored = true;
                    }
                    //data.word = 'llama';
                    //console.log(response['20130425T14'])
                    console.log('word "' + data.word + '" exists? ' + wordStored)
                    console.log('date "' + util.sortDate(new Date()) + '" exists? ' + dateStored)
                    if (!dateStored) {
                        util.firebase.set(data);
                    }
                    data.history = response;
                    sessionStorage.setItem('bigword', JSON.stringify(data));
                    render(data);
                });
            }
        },
        render = function (data) {
            _.each(data.history, function (historyItem) {
                var d = Date.parse(historyItem.date.json.split('.')[0] + 'Z');
                historyItem.date.pretty = d.addHours(-4).toString('MMMM dS, yyyy h:mm t') + 'M';
            });
            data.history = util.sortObjByKey(data.history, {reverse: true});
            data.total = util.commafy(data.total);
            data.exclude = exclude;
            data.svgSupported = util.svgSupported();

            console.log('rendering');
            console.log(data);

            $('#placeholder').html($('#template').tmpl(data));
            util.hilite(data.word, '.headlines a');

            if (util.svgSupported()) {
                google.load('visualization', '1', {
                    'packages': ['corechart'],
                    'callback': function () {
                        var chartArr = [],
                            chartData = new google.visualization.DataTable(),
                            options = {
                                legend: 'none',
                                width: $('.container-fluid').width(),
                                fontSize: 14,
                                fontName: 'Droid Serif',
                                chartArea: {top: 0, height: '84%'},
                                colors: ['#a1a1a1']
                            };
                        _.each(_.filter(data.words, function (w) { return w[2] === 'w1' || w[2] === 'w2'}), function (w) {
                            chartArr.push(_.initial(w));
                        });
                        if (!chartArr.length) {
                            _.each(_.filter(data.words, function (w) { return w[2] === 'w3'}), function (w) {
                                chartArr.push(_.initial(w));
                            });
                            options.chartArea.height = '94%';
                        }
                        options.height = (chartArr.length * options.fontSize) * (options.fontSize / 5);
                        chartData.addColumn('string', 'Word');
                        chartData.addColumn('number', 'Count');
                        chartData.addRows(chartArr);
                        new google.visualization.BarChart(document.getElementById('chart0')).draw(chartData, options);
                    }
                });
            }
            $('.table-previous-words a').click(function () {
                var historyData = data.history[$(this).data('sort')];
                historyData.history = data.history;
                render(historyData);
                window.scrollTo(0, 0);
                return false;
            });
            $('.more-headlines').click(function () {
                $(this).hide();
                $('.headlines li.hide').slideDown();
                return false;
            });
        };
    if (sessionStorage.bigword) {
        console.log('sessionStorage data avaialable');
        render($.parseJSON(sessionStorage.getItem('bigword')));
    } else {
        var feeds = [
            {name: 'Google News', url: 'http://news.google.com/?output=rss&num=100'},
            {name: 'Yahoo News', url: 'http://news.yahoo.com/rss/'},
            {name: 'Reddit', url: 'http://www.reddit.com/.rss'},
            {name: 'Newsvine', url: 'https://www.newsvine.com/_feeds/rss2/cs?id=38&n=6&s=av'},
            {name: 'Bing', url: 'http://www.bing.com/news?q=top+stories&format=RSS'},
            {name: 'AP', url: 'http://hosted2.ap.org/atom/APDEFAULT/3d281c11a96b4ad082fe88aa0db04305'},
            {name: 'BBC', url: 'http://feeds.bbci.co.uk/news/rss.xml'},
            {name: 'Reuters', url: 'http://feeds.reuters.com/reuters/topNews'},
            {name: 'CNN', url: 'http://rss.cnn.com/rss/cnn_topstories.rss'},
            {name: 'CBS', url: 'http://feeds.cbsnews.com/CBSNewsMain'},
            {name: 'ABC', url: 'http://feeds.abcnews.com/abcnews/topstories'},
            {name: 'NBC', url: 'http://feeds.nbcnews.com/feeds/topstories'},
            {name: 'Time', url: 'http://feeds2.feedburner.com/time/topstories'},
            {name: 'NPR', url: 'http://www.npr.org/rss/rss.php?id=1001'},
            {name: 'New York Times', url: 'http://rss.nytimes.com/services/xml/rss/nyt/HomePage.xml'},
            {name: 'Fox News', url: 'http://feeds.foxnews.com/foxnews/latest'}
        ];
        build(feeds);
    }
}());
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59291451-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
